.side-nav--collapsed div {
    background: black !important;
}

/* Video player: full size! */
.persistent-player, .channel-root__player {
    width: 100% !important;
    max-height: calc(100vh)  !important;
}

.video-player__container--resize-calc {
    max-height: calc(100vh) !important;
}

/* Hide channel info for full height video */
.channel-root__info {
    display: none;
}


/* Remove chat background */
.right-column * {
    background: none !important;
}

/* Make chat transparent and adjust height */
.right-column {
    height: 40% !important;
}

/* Make chat transparent and adjust height */
.channel-root__right-column {
    background: rgba(0,0,0,0.4) !important;
}

/* Chat toggle button */
.right-column__toggle-visibility .tw-tooltip__container {
    position: relative !important;
    left: -9px;
    width: 18px !important;
    background: rgba(0,0,0,0.4) !important;
}

/* Hide chat header and channel leaderboard */
.stream-chat-header, .channel-leaderboard {
    display: none !important;
}

/* Add a background to emote tooltips but remove it for emote images */
.video-chat__message div {
    background: black !important;
    color: white !important;
}
.video-chat__message .bttv-emote, .video-chat__message .chat-image__container {
    background: none !important;
}
